*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Main Strunture of the body
*/
#nav-bar{
    background-color: rgb(255, 213, 161);
    width:100%;
    height: 110px;
    padding-left:25%;
    
}

#nav-block{
    position:absolute;
    width:70%;
    height:40px;
    background-color: rgb(252, 128, 83);
    margin:50px;
    display:flex;
    align-items: center;
    justify-content: right;
    gap:20px;
    padding-right:40px;
    border-radius: 15px;
}

#main{
    background-color: beige;
    flex:1;
    padding:30px;
    text-align: left;
    width:100%;
}

#main-block{
    margin:20px;
    display:flex;
    gap:20;
    width: 100%;

}

#post-block{
    background-color: rgb(189, 255, 255);
    width:60%;
    padding:50px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;;
}

#admin-block{
    background-color: rgb(228, 200, 255);
    width:40%;  
    display: flex;
    position: relative;
    border-radius: 10px;
}

#footer{
    background-color: rgb(255, 193, 193);
    color:wheat;
    width:100%;
    height:200px;
    display: flex;
}

/*
nav-header styling
*/

a{
    text-decoration: none;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    border-radius: 10px;
}
a:hover{
    background-color: blanchedalmond;
}

h1{
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:saddlebrown;
}

/*
font,text styling
*/